@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");

/* --------------------- */
/*   CUSTOM PROPERTIES   */
/* --------------------- */

:root {
  /* colors */
  --neutral-50: white;
  --neutral-100: hsl(0, 0%, 53%);
  --neutral-200: hsl(0, 0%, 45%);
  --neutral-300: hsl(0, 0%, 36%);

  --neutral-400: black; 
  --dark-primary-100: hsl(228, 28%, 20%);

  --primary-100: hsl(236, 94%, 93%);
  --primary-200: hsl(241, 77%, 63%);

  --accent-100: hsl(348, 87%, 85%);
  --accent-200: hsl(357, 66%, 65%);

  /* Typography */
  --fs-h1: 40px;
  --fs-h1-small: var(--fs-h1);
  --fs-h2: 34px;
  --fs-h3: var(--fs-h1);

  --fs-100: 16px;
  --fs-200: 20px;
  --fs-300: 24px;

  --f-sans: "Raleway", sans-serif;
}

@media (min-width: 35em) {
  :root {
    /* font sizes */
    --fs-h1: 60px;
    --fs-h1-small: 40px;
    --fs-h2: 44px;
    --fs-h3: var(--fs-h1);
  }
}

/* --------------------- */
/*    UTILITY CLASSES    */
/* --------------------- */

/* layout */
.flex {
  display: flex;
  gap: var(--flex-gap, 1rem);
  place-items: center;
}

.grid {
  display: grid;
  gap: var(--grid-gap, 1rem);
}

/* .even-columns {
  place-items: center;
}

@media (min-width: 35em) {
  .even-columns {
    grid-template-columns: 1.5fr 1fr;
  }
} */

.container {
  max-width: var(--width, 64.3125rem);
  margin-inline: auto;
  /*   padding-inline: var(--padding, 1.8125rem);
 */
}

.screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.margin-flow > *:not(:first-child) {
  margin-top: var(--margin-top, 2rem);
}

/* typography */
.f-weight-400 {
  font-weight: 400;
}

.f-weight-500 {
  font-weight: 500;
}

.f-weight-600 {
  font-weight: 600;
}

.f-weight-700 {
  font-weight: 700;
}

/* text colors */
.text-clr-200 {
  color: var(--primary-200);
}

/* bg colors */
.bg-clr-gradient {
  background-image: linear-gradient(
    to right,
    var(--primary-100),
    var(--neutral-50)
  );
}

.bg-clr-accent-100 {
  background-color: var(--accent-100);
}

.bg-clr-accent-200 {
  background-color: var(--accent-200);
}

/* --------------------- */
/*       COMPONENTS      */
/* --------------------- */

/* buttons */
.btn {
  padding-block: var(--padding-block, 1.375rem);
  padding-inline: var(--padding-inline, 2.1875rem);
  display: inline-block;
  border-radius: 0.625rem;
  position: relative;
  overflow: hidden;
  font-weight: 700;
  font-size: var(--fs-200);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background-color: var(--primary-200);
  color: var(--neutral-50);
}

.btn-secondary {
  background-color: var(--accent-100);
  color: var(--primary-200);
}

.btn-large {
  --padding-inline: 40px;
  background-color: var(--primary-200);
  color: var(--neutral-50);
}

/* navigation underline */
.underline a {
  position: relative;
  transition: color 0.2s ease-in;
  color: var(--dark-primary-100);
  font-weight: 500;
  font-size: var(--fs-100);
}

.underline a:after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background-color: var(--primary-200);
  border-radius: 100vh;
  opacity: 0;
  transition: opacity 0.5s linear, transform 0.1s ease-out;
  transform: scaleX(0);
}

.underline a:hover::after,
.underline a:focus-within::after {
  opacity: 1;
  transform: scaleX(1);
}

.underline a:hover,
.underline a:focus-within {
  outline: none;
  color: var(--primary-200);
}

/* --------------------- */
/*   ELEMENT SELECTORS   */
/* --------------------- */

body {
  font-family: var(--f-sans);
  overflow: hidden;
}

h1,
h2,
h3 {
  color: var(--neutral-400);
}

/* --------------------- */
/*   CLASS SELECTORS   */
/* --------------------- */

/* header */
.primary-header {
  grid-template-columns: 1fr 3.5fr;
  align-items: center;
  position: relative;
  padding: 1rem;
}

.logo-container {
  justify-self: flex-start;
  width: 7rem;
}

.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  justify-content: space-between;
}

.primary-navigation ul {
  --flex-gap: max(2rem,5vw);
}

@media (max-width: 48rem) {
  .primary-navigation {
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 9999;
    width: 100vw;
    height: 50vh;
    padding: 2rem; 
    /* box-shadow: 
    1px 5px 5px 1px var(--neutral-100); */
   
    opacity: 0;
    transform: rotateX(90deg);
    transition: transform 0.3s ease-in, opacity .5s ease-in;
    transform-origin: top;
  }
  
  .primary-navigation[data-visible="true"] {
    opacity: 1;
    transform: rotateX(0deg);
  }

  .primary-navigation ul {
    flex-direction: column;
  }

  .mobile-nav-toggle {
    justify-self: flex-end;
    display: unset;
    border: 0;
    background: transparent;
    color: var(--dark-primary-100);
  }
}
